# Aliases - sourced by both .bashrc and .zshrc
# Keep this file as the single source of truth for all shell aliases.

################################################################################
# Navigation
################################################################################
alias dotfiles='cd $DOTFILES'
alias scripts='cd $SCRIPTS'
alias Projects="cd ~/projects && ll"
alias Notes="cd ~/projects/github.com/bruno-yamada/bruno-yamada && ll"
alias NotesPrivate="cd ~/projects/github.com/bruno-yamada/private-notes && ll"
alias NotesP='cd $HOME/projects/github.com/bruno-yamada/notes-private && ls -la'
alias Br='cd $HOME/projects/github.com/bruno-yamada/${1:-.} && ls -la'
alias Proj='cd $HOME/projects/${1:-.} && ls -la'

################################################################################
# Git
################################################################################
alias ga="git add"
alias gf="git fetch"
alias gl="git pull"
alias glg="git log --stat"
alias gp="git push"
alias gst="git status"
alias gsw="git switch"
alias gtag="git tag -n99"
alias gitlog='git log --graph --oneline'
alias openrepo="gh repo view --web"

# GitHub CLI
alias ghi="gh issue"
alias ghic="gh issue create"
alias ghil="gh issue list"
alias ghiv="gh issue view -c"

# GitHub Copilot
alias ghe='gh copilot explain'
alias ghs='gh copilot suggest -t shell'

################################################################################
# Docker
################################################################################
alias docker-rmi='docker rmi $(docker images --filter "dangling=true" -q --no-trunc)'

################################################################################
# Kubernetes
################################################################################
alias k="kubectl"

################################################################################
# Terraform
################################################################################
alias t="terraform"

################################################################################
# Shell / Misc
################################################################################
alias ll="ls -lahF"
alias llg="ls -lah | grep"
alias cppwd='echo $PWD | pbcopy'
alias ag="ag --hidden"
alias s="sgpt"

# Search (ack respecting .gitignore)
alias gack="git ls-files -oc --exclude-standard | ack -x"

# Quick web lookups
alias cht='curl https://cht.sh/${1}'
alias now='open https://time.is/${1}'

################################################################################
# Alert (Linux - notify-send)
################################################################################
# Use like: sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'
