################################################################################
# Docker
################################################################################

docker-logs() {
    docker logs -f --tail=200 $@
}

docker-it() {
    docker exec -it -e COLUMNS="`tput cols`" $@
}

################################################################################
# Misc
################################################################################

open() {
    gio open $@
}

random_password() {
    strings /dev/urandom | grep -o '[[:alnum:]]' | head -n $1 | tr -d '\n'; echo
}

openssl_describe() {
    openssl x509 -in $1 -text
}

